/deft_corpus
/task2
/deft-eval/tensorboard
/deft-eval/data/*
/data/glanos
**/.DS_Store
/deft-eval/__pycache__/*
/deft-eval/utils/__pycache__/*
/deft-eval/models/__pycache__/*
/deft-eval/training/1*
/deft-eval/training/2*